/*
* Gallery page style
*/

body {
    background-color: white;
}

.pg360 {
    float: left;
    margin-right: 20px;
    padding: 20px;
    border: solid 2px rgb(212, 212, 212);
}

iframe {
    display: none;
}


/** 
 *Image filter
 */

.ClassColorFilter_BW {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
}

.ClassColorFilter_PGfilter1 {
    position: relative;
    -webkit-filter: contrast(.9) sepia(.2);
    filter: contrast(.9) sepia(.2)
}

.ClassColorFilter_PGfilter1 img {
    z-index: 1
}

.ClassColorFilter_PGfilter1:before {
    z-index: 2
}

.ClassColorFilter_PGfilter1:after {
    z-index: 3
}

.ClassColorFilter_PGfilter1::after {
    background: -webkit-radial-gradient(circle, #d0ba8e 20%, #360309 85%, #1d0210 100%);
    background: radial-gradient(circle, #d0ba8e 20%, #360309 85%, #1d0210 100%);
    mix-blend-mode: overlay
}

.ClassColorFilter_PGfilter2 {
    position: relative;
    -webkit-filter: contrast(1.1) brightness(1.1) saturate(1.3);
    filter: contrast(1.1) brightness(1.1) saturate(1.3)
}

.ClassColorFilter_PGfilter2 img {
    width: 100%;
    z-index: 1
}

.ClassColorFilter_PGfilter2:before {
    z-index: 2
}

.ClassColorFilter_PGfilter2:after {
    z-index: 3;
    background: rgba(243, 106, 188, .3);
    mix-blend-mode: screen
}

.ClassColorFilter_PGfilter3 {
    position: relative;
    -webkit-filter: hue-rotate(-20deg) contrast(.9) saturate(.85) brightness(1.2);
    filter: hue-rotate(-20deg) contrast(.9) saturate(.85) brightness(1.2)
}

.ClassColorFilter_PGfilter3:after,
.ClassColorFilter_PGfilter3:before {
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none
}

.ClassColorFilter_PGfilter3 img {
    width: 100%;
    z-index: 1
}

.ClassColorFilter_PGfilter3:before {
    z-index: 2
}

.ClassColorFilter_PGfilter3:after {
    z-index: 3
}

.ClassColorFilter_PGfilter3::after {
    background: -webkit-linear-gradient(left, rgba(66, 10, 14, .2), transparent);
    background: linear-gradient(to right, rgba(66, 10, 14, .2), transparent);
    mix-blend-mode: darken
}


/*==============================================================================================*/

.pg360_pack {
    position: relative;
}

.pg360_watermark {
    position: relative;
    bottom: 2.5em;
    right: -1em;
}


/* button  */

#pg360_control {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pg360_btn_play {
    padding: 5px;
    padding-bottom: 7px;
    text-decoration: none;
    margin: 5px;
    border-radius: 20px;
    border: none;
}

.pg360_btn_pause {
    padding: 5px;
    padding-bottom: 7px;
    text-decoration: none;
    margin: 5px;
    border-radius: 20px;
    border: none;
}

.pg360_btn_fullscreen {
    padding: 5px;
    padding-bottom: 7px;
    text-decoration: none;
    margin: 5px;
    border-radius: 20px;
    border: none;
}

a .pg360_btn {
    text-decoration: none;
}


/*Loader*/

.loader {
    display: none;
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    z-index: 100;
    width: 75px;
    height: 75px;
    margin: -75px 0 0 -75px;
    border: 12px solid lightgrey;
    border-radius: 50%;
    border-top: 12px solid orangered;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.pg360_name {
    text-align: center;
    font-size: 16px;
}

.pg360-row-two {
    border: none;
    padding-left: 0;
    margin-left: 0;
}